# dependencies
/node_modules
/.pnp
.pnp.*

# tests
/coverage

# Next.js
/.next/
/out/

# production
/build

# local environment files
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# editor and operating system files
.DS_Store
Thumbs.db
*.swp
